.input {
  margin: 20px 0;

  span {
  }

  input {
    margin-top: 5px;
    display: block;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    -webkit-box-shadow: 0px 2px 11px -2px #000000;
    box-shadow: 0px 2px 11px -2px #000000;
  }
}
