.contact-us {
  display: flex;
  background-image: url("../../Images/orangeBcg.png");

  .info {
    width: 1000px;
    display: flex;
    justify-content: center;

    .details {
      border: 2px solid yellow;
      border-radius: 10px;
      -webkit-box-shadow: 0px 2px 11px -2px #000000;
      box-shadow: 0px 2px 11px -2px #000000;
      margin: 40px;
      width: 500px;
      padding: 100px;
      background-color: #fdfbd9;
    }

    h3 {
      border-bottom: 3px solid #f3cf99;
      margin-bottom: 10px;
      padding: 10px;
    }

    h4 {
      padding: 10px;
    }
  }

  img {
    width: 100%;
    height: 100vh;
    opacity: 0.5;
  }
}
