.home-style {
    display: flex;

    .habits {
        margin: 25px;

        h2 {
         padding: 20px 0;
        }

        h3 {
            padding: 20px 0;
        }

        img {
            width: 500px;
            height: 400px;
            margin: 10px 0;
        }
    }
}